{% extends 'base.html' %}

{% block content %}

<h1>{{ finch.variety }} Details</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ finch.variety }}</span>
                <p><strong>Color:</strong> {{ finch.color }}</p>
                <p><strong>Habitat:</strong> {{ finch.habitat }}</p>
                <p><strong>Food: </strong>{{ finch.food }}</p>
                <p><strong>Nesting:</strong> {{ finch.nesting }}</p>
                <p><strong>Behavior:</strong> {{ finch.behavior }}</p>
                <p><strong>Conservation Concern:</strong> {{ finch.conservation }} </p>
            </div>
            <div class="card-action">
                <a href="{% url 'finches_update' finch.id %}">Edit</a>
                <a href="{% url 'finches_delete' finch.id%}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <h5>Sitings</h5>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Sex/Hatchling</th>
                </tr>
            </thead>
            <tbody>
                {% for siting in finch.siting_set.all %}
                <tr>
                    <td>{{ siting.date }}</td>
                    <td>{{ siting.sex }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <div>
            {% if finch.seen_today %}
            <div class="card-panel teal-text center-align">{{ finch.variety }} has been seen today.</div>
            {% else %}
            <div class="card-panel red-text center-align">Have you seen a {{ finch.variety }} today?</div>
            {% endif %}
        </div>
        <h5>Add Siting</h5>
        <div class="card">
            <div class="card-content">
                <form action="{% url 'add_siting' finch.id %}" method="POST">
                    {% csrf_token %}
                    {{ siting_form.as_p }}
                    <input type="submit" class="btn" value="Add Siting">
                </form>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col s6">
        <h3>Similar Species</h3>
        {% if finch.similar.count %}
        {% for similar in finch.similar.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ similar.variety }}</span>
                <p><strong>Color:</strong> {{ similar.color }}</p>
            </div>
            <div class="card-action">
                <form action="{% url 'disassoc_finch' finch.id similar.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn red">Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>No similar species listed yet.</h5>
        {% endif %}
    </div>
    <div class="col s6">
        <h3>Possible Similar Species</h3>
        <a class="btn" href="{% url 'similar_create' %}">Add a possibility</a>
        {% if similars.count %}
        {% for similar in similars.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ similar.variety }}</span>
                <p><strong>Color:</strong> {{ similar.color }}</p>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_finch' finch.id similar.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn" value="Add">
                    <a href="{% url 'similar_update' similar.id %}" class="btn">Edit</a>
                <a href="{% url 'similar_delete' similar.id %}" class="btn">Delete</a>
                </form>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<script>
    let dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
    var selectEl = document.getElementById('id_sex');
    M.FormSelect.init(selectEl);

</script>
{% endblock %}