{% extends 'base.html' %}

{% block content %}

<h1>Finch Species</h1>
{% for finch in finches %}

<div class="card">
    <div class="card-content">
        <a href="{% url 'detail' finch.id %}">
        <span class="card-title">{{ finch.variety }}</span>
    </a>
        <p><strong>Color:</strong> {{ finch.color }}</p>
        <p><strong>Habitat:</strong> {{ finch.habitat }}</p>
        <p><strong>Food:</strong> {{ finch.food }}</p>
        <p><strong>Nesting:</strong> {{ finch.nesting }}</p>
        <p><strong>Behavior:</strong> {{ finch.behavior }}</p>
        <p><strong>Conservation Concern:</strong> {{ finch.conservation }} </p>
    </div>
</div>

{% endfor %}
{% endblock %}